{#
/**
 * @file
 * Tailwind CSS version to display primary and secondary local tasks with simplified styling.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}

{%
  set classes = [
    primary ? 'primary' : '',
    secondary ? 'secondary' : '',
    'flex',
    'space-x-4',
    'mt-4',
    'mb-8',
  ]
%}

<div class="container">
	{% if primary %}
		<h2 class="sr-only">{{ 'Primary tabs'|t }}</h2>
		<ul{{attributes.addClass(classes)}}>
			{{ primary }}
		</ul>
	{% endif %}
	{% if secondary %}
		<h2 class="sr-only">{{ 'Secondary tabs'|t }}</h2>
		<ul{{attributes.addClass(classes)}}>
			{{ secondary }}
		</ul>
	{% endif %}
</div>
