{# pricing-card.twig #}
<div class="rounded-xl bg-card text-card-foreground shadow flex h-full flex-col justify-between p-4 sm:p-6 md:p-8 border border-border-primary">
  <div>
    <h2 class="mb-2 text-md font-bold leading-[1.4] md:text-xl">{{ eyebrow }}</h2>
    <h3 class="my-2 text-2xl font-bold sm:text-3xl lg:text-4xl">{{ title }}</h3>
    <div class="my-4 sm:my-8 h-px w-full bg-border"></div>
    <p class="text-sm sm:text-base">{{ includes_label|default('Includes') }}:</p>
    <div class="mb-6 sm:mb-8 mt-3 sm:mt-4 grid grid-cols-1 gap-y-3 sm:gap-y-4 py-2">
      {% for feature in features %}
        <div class="flex self-start">
          <div class="mr-3 sm:mr-4 flex-none self-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check size-5 sm:size-6"><path d="M20 6 9 17l-5-5"></path></svg>
          </div>
          <p class="text-sm sm:text-base">{{ feature }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if cta_link %}
    <div>
      <a href="{{ cta_link.url }}" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 w-full">
        {{ cta_link.title }}
      </a>
    </div>
  {% endif %}
</div>
