<div class="rounded-xl bg-card text-card-foreground quote-card w-full lg:w-4/5 xl:w-2/3 border-0 shadow-none {{ modifier_class }}">
	<div class="p-6 quote-content pt-6">
    {% if logo %}
      <div class="text-center mb-4">
        <div class="w-1/3 mx-auto">
          {{ logo }}
        </div>
      </div>
    {% endif %}

		<blockquote class="text-center mb-4">
			<p class="text-3xl font-normal">{{ quote }}</p>
		</blockquote>

		<div class="text-center">
			<div class="inline-block">
        {% if thumb %}
          <span class="relative flex shrink-0 overflow-hidden rounded-full w-16 h-16 mb-2 mx-auto">
            {{ thumb }}
          </span>
        {% endif %}

				{% if author %}
					<div class="font-bold">{{ author }}</div>
				{% endif %}

				{% if job_title %}
					<p class="text-sm text-muted-foreground">{{ job_title }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
